/Advanced-VLSI-Design/Exercise-01/VLSI-01/VLSI-01.cache
/Advanced-VLSI-Design/Exercise-01/VLSI-01/VLSI-01.runs
/Advanced-VLSI-Design/Exercise-01/VLSI-01/VLSI-01.sim

/Advanced-VLSI-Design/Exercise-02/VLSI-02/VLSI-02.cache
/Advanced-VLSI-Design/Exercise-02/VLSI-02/VLSI-02.runs
/Advanced-VLSI-Design/Exercise-02/VLSI-02/VLSI-02.sim

/Advanced-VLSI-Design/Exercise-03/VLSI-03/VLSI-03.cache
/Advanced-VLSI-Design/Exercise-03/VLSI-03/VLSI-03.runs
/Advanced-VLSI-Design/Exercise-03/VLSI-03/VLSI-03.sim

/Advanced-VLSI-Design/Exercise-04/VLSI-04/VLSI-04.cache
/Advanced-VLSI-Design/Exercise-04/VLSI-04/VLSI-04.runs
/Advanced-VLSI-Design/Exercise-04/VLSI-04/VLSI-04.sim