/Exercise-01/VLSI-01/VLSI-01.cache
/Exercise-01/VLSI-01/VLSI-01.runs
/Exercise-01/VLSI-01/VLSI-01.sim

/Exercise-02/VLSI-02/VLSI-02.cache
/Exercise-02/VLSI-02/VLSI-02.runs
/Exercise-02/VLSI-02/VLSI-02.sim

/Exercise-03/VLSI-03/VLSI-03.cache
/Exercise-03/VLSI-03/VLSI-03.runs
/Exercise-03/VLSI-03/VLSI-03.sim

/Exercise-04/VLSI-04/VLSI-04.cache
/Exercise-04/VLSI-04/VLSI-04.runs
/Exercise-04/VLSI-04/VLSI-04.sim

/Exercise-05/VLSI-05/VLSI-05.cache
/Exercise-05/VLSI-05/VLSI-05.runs
/Exercise-05/VLSI-05/VLSI-05.sim

/Exercise-06/VLSI-06/VLSI-06.cache
/Exercise-06/VLSI-06/VLSI-06.runs
/Exercise-06/VLSI-06/VLSI-06.sim
/Exercise-06/VLSI-06/VLSI-06.ip_user_files
/Exercise-06/VLSI-06/VLSI-06.gen
